services:
  - type: web
    name: telegram-video-bot
    env: python
    region: singapore
    buildCommand: pip install -r requirements.txt
    startCommand: python bot.py
    plan: free
    autoDeploy: false
